:root {
  --primary-color: hsl(179, 62%, 43%);
  --secondary-color: hsl(71, 73%, 54%);
  --secondary-color-dark: hsl(71, 61%, 50%);
  --tertiary-color: hsl(204, 43%, 93%);
  --quaternary-color: hsl(218, 22%, 67%);
  --quinary-color: white;
  --senary-color: #4abebd;
}
body {
  padding: 20px;
  background-color: var(--tertiary-color);
  font-family: "Karla", sans-serif;
}

main {
  display: grid;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 5%;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;
}

.text-content {
  padding: 20px;
  background-color: var(--quinary-color);
  border-radius: 5px 5px 0px 0px;
}

.title-text,
.title-monthly,
.title-why-us {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}
.title-text {
  color: var(--primary-color);
}
.sub-title-text {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
  max-width: 250px;
}
.paragraph-text {
  color: var(--quaternary-color);
  font-size: 14px;
  max-width: 280px;
  line-height: 20px;
  margin-bottom: 15px;
}
.monthly-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}
.title-monthly {
  color: var(--quinary-color);
}
.dolar {
  display: flex;
  color: var(--quinary-color);
  align-items: center;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 10px;
}
.dolar span {
  color: var(--quinary-color);
  opacity: 0.7;
  font-weight: 400;
  margin-left: 10px;
  font-size: 14px;
}
.paragraph-monthly {
  color: var(--quinary-color);
  margin-bottom: 30px;
}
.sing-up {
  background-color: var(--secondary-color);
  color: var(--quinary-color);
  font-weight: 700;
  font-size: 15px;
  padding: 15px;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out;
}
