:root {
  --primary-color: hsl(179, 62%, 43%);
  --secondary-color: hsl(71, 73%, 54%);
  --tertiary-color: hsl(204, 43%, 93%);
  --quaternary-color: hsl(218, 22%, 67%);
  --quinary-color: white;
  --senary-color: white;
}
