:root {
  --primary-color: hsl(179, 62%, 43%);
  --secondary-color: hsl(71, 73%, 54%);
  --secondary-color-dark: hsl(71, 61%, 50%);
  --tertiary-color: hsl(204, 43%, 93%);
  --quaternary-color: hsl(218, 22%, 67%);
  --quinary-color: white;
  --senary-color: #4abebd;
}
body {
  padding: 20px;
  background-color: var(--tertiary-color);
  font-family: "Karla", sans-serif;
}

main {
  display: grid;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 5%;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;
}
